<!DOCTYPE html>
<html>

<head>
    <script src="/eforce-gallery/javascripts/urlMapping.js"></script>
    <link rel="stylesheet" href="/eforce-gallery/css/navButtons.css">
    <link rel="stylesheet" href="/eforce-gallery/css/photos/toggleBars.css">
    <link rel="stylesheet" href="/eforce-gallery/css/photos/photoLines.css">
    <link rel="stylesheet" href="/eforce-gallery/css/photos/topSelector.css">
    <link rel="stylesheet" href="/eforce-gallery/css/photos/download.css">
    <link rel="stylesheet" href="/eforce-gallery/css/popupWindow.css">
    <link rel ="stylesheet" href="/eforce-gallery/css/photoPreview/photo.css">

    <script type="module" src="/eforce-gallery/javascripts/photos/mainPhotoPage.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/photo.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/photosStore.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/sideBars.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/checkStore.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/topSelectorHandler.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/layoutGenerator.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/requests.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/photos/pageHandler.js"></script>

    <script type="module" src="/eforce-gallery/javascripts/photoPresenter/photoPreview.js"></script>   
    <script type="module" src="/eforce-gallery/javascripts/photoPresenter/photoPreviewGenerator.js"></script>


</head>
<header>
    <div class="buttonDiv" id="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton-selected" value="photos" onclick="changeMapping(value)">All photos</button>
        <button type="button" class="navButton" value="galleryManager" onclick="changeMapping(value)">Gallery manager</button>
    </div>
</header>

<body>
    <div class="top-selector" id="topSelector">
        <button class="button select-all-button" id="selectAllPhotos">Select all</button>
        <button class="button select-all-on-page-button" id="selectAllPhotosOnPage">Select all on page</button>
        <button class="button download-button" id="downloadButton">Download selected</button>
        <button class="button delete-button" id="deleteButton">Delete selected</button>
        <button class="button add-to-gallery-button" id="addToGalleryButton">Add selected to gallery</button>
        <label for="pageInput">Page:</label>
        <button class="button change-page-button" id="decrementPageButton">&lt</button>
        <form class="page-form" id="pageForm" method="GET">
            <input type="text" value="1" class="page-input" id="pageInput">
            <span class="max-pages-span" id="maxPages">/0</span>
        </form>
        <button class="button change-page-button" id="incrementPageButton">&gt</button>
    </div>

    <div id="tags" class="tags">
        <button class="close-btn" id="closeTags" value= "tags">&#10005</button>
        <h3>Tags:</h3>
        <div id="logicDiv" class="logic-div">
            <button type="button" id="andButton" class="and-button">AND</button>
            <button type="button" id="orButton" class="or-button">OR</button>
        </div>
    </div>
    <button type="button" id="tagsToggleLeft" class="tags-toggle-left" value="tags">
        *<br>*<br>*
    </button>
    <div id="galleries" class="galleries">
        <button class="close-btn" id="closeGalleries" value= "galleries">&#10005</button>
        <h3>Galleries:</h3>
        <div id="logicDiv" class="logic-div">
            <button type="button" id="andButton" class="and-button">AND</button>
            <button type="button" id="orButton" class="or-button">OR</button>
        </div>
    </div>
    <button type="button" id="tagsToggleRight" class="tags-toggle-right" value="galleries">
        *<br>*<br>*
    </button>
</body>

</html>