<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/urlMapping.js"></script>
    <link rel="stylesheet" href="/css/navButtons.css">
    <script type="module" src="/javascripts/photos/mainPhotoPage.js"></script>
    <script type="module" src="/javascripts/photos/photo.js"></script>
    <script type="module" src="/javascripts/photos/photosStore.js"></script>
</head>
<header>
    <div class="buttonDiv" id="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton" value="photos" onclick="changeMapping(value)">All photos</button>
    </div>
</header>

<body>
    <form>
        <form>
            <label for="searchBar"></label>
            <input type="text" name="searchBar" id="searchBar">
        </form>
    </form>
</body>

</html>