<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/urlMapping.js"></script>
    <script src="/javascripts/galleriesLayout.js"></script>
</head>
<header>

    <div class="buttonDiv">
        <button type="button" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" value="photos" onclick="changeMapping(value)">All photos</button>
    </div>

</header>

<body>
    <h2>Hello <%= name%></h2>
    <div id="searchDiv">
        <label for="searchBar"></label>
        <input type="text" id="searchBar" title="names, tags, date">

        <label for="sortBy">Sort by:</label>
        <select>
            <option value="name">Name</option>
            <option value="creation">Creation date</option>
            <option value="event">Event date</option>
            <option value="photos">Photos count</option>
        </select>
        <label for="sortAscDesc">Sort: </label>
        <select id="sortAscDesc">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
    <script>createLayout(" <%= galleries %>")</script>

</body>

</html>