<!DOCTYPE html>
<html>
<head>
    <script  src="/javascripts/urlMapping.js"></script>
    <script type="module" src="/javascripts/galleries/galleriesLayout.js"></script>
    <script type="module" src="/javascripts/galleries/gallery.js"></script>
    <script type="module" src="/javascripts/galleries/galleryStore.js"></script>
    <script type="module" src="/javascripts/galleries/galleryRender.js"></script>
    <script type="module" src="/javascripts/galleries/gallerySort.js"></script>
    <script type="module" src="/javascripts/galleries/galleryPreview.js"></script>
    <link rel="stylesheet" href="/css/navButtons.css">
    <link rel="stylesheet" href="/css/galleryThumbnails.css">
    <link rel="stylesheet" href="/css/galleryPreview.css">
</head>
<header>

    <div class="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton" value="photos" onclick="changeMapping(value)">All photos</button>
    </div>

</header>

<body>
    <h2>Hello <%= name%></h2>
    <div id="searchDiv" class="searchDiv">
        <label for="searchBar">Search: </label>
        <input type="text" id="searchBar" title="names, tags, date">

        <label for="sortBy">Sort by:</label>
        <select id="mainSort">
            <option value="title">Title</option>
            <option value="contributionDate">Creation date</option>
            <option value="eventDate">Event date</option>
        </select>
        <label for="sortAscDesc">Sort: </label>
        <select id="sortAscDesc">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="button" id="cancelQueryButton" class="cancelQueryButton">Cancel query</button>
    </div>

</body>

</html>