<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/eforce-gallery/css/navButtons.css">
        <link rel="stylesheet" href="/eforce-gallery/css/popupWindow.css">
        <script  src="/eforce-gallery/javascripts/urlMapping.js"></script>
        <script type="module"  src="/eforce-gallery/javascripts/galleryManager/mainPageGenerator.js"></script>
        <script type="module" src="/eforce-gallery/javascripts/galleryManager/galleryFetcher.js"></script>
        <script type="module" src="/eforce-gallery/javascripts/galleryManager/gallery.js"></script>
        <script type="module" src="/eforce-gallery/javascripts/galleryManager/galleryStore.js"></script>
        </head>
    <header>
        <div class="buttonDiv" id="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton" value="photos" onclick="changeMapping(value)">All photos</button>
        <button type="button" class="navButton-selected" value="galleryManager" onclick="changeMapping(value)">Gallery manager</button>
    </div>
    </header>

</html>