<!DOCTYPE html>
<html>
<header>
</header>

<body>
    <h1>
        Login Page
    </h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="username" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>