<!DOCTYPE html>
<html>

<head>
    <script type="module" src="/eforce-gallery/javascripts/galleriesUpload/dataVerifier.js"></script>
    <script src="/eforce-gallery/javascripts/galleriesUpload/uploadScripts/dataUploader.js"></script>
    <script src="/eforce-gallery/javascripts/urlMapping.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/galleriesUpload/tags.js"></script>
    <script type="module" src="/eforce-gallery/javascripts/galleriesUpload/uploadScripts/dragAndDrop.js"></script>
    <link rel="stylesheet" href="/eforce-gallery/css/dragAndDrop.css">
    <link rel="stylesheet" href="/eforce-gallery/css/navButtons.css">
    <link rel="stylesheet" href="/eforce-gallery/css/newGalleryForm.css">

</head>
<header>
    <div class="buttonDiv" id="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton-selected" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton" value="photos" onclick="changeMapping(value)">All photos</button>
        <button type="button" class="navButton" value="galleryManager" onclick="changeMapping(value)">Gallery manager</button>
    </div>
</header>

<body>
    <form id="galleryForm" class="gallery-form" method="POST">
        <label for="title">Gallery title:</label>
        <br>
        <input type="text" id="title" name="title" required/>
        <br>
        <label for="date">Event date:</label>
        <br>
        <input type="date" id="date" name="date" required>
        <br>
        <label>Tags:</label>
        <div id="tags" value="1">
            <input type="hidden" id="tagsCounter" name="tagsCounter" value="1">
            <input type="hidden" id="tagsValue" name="tagsValue" value="">
        </div>
        <button type="button" class="add-tag-button" id="tagButton">Add tag</button>
        <br>
        <label for="label">Gallery label:</label>
        <br>
        <textarea rows="10" id="label" class="label" cols="100" name="label"></textarea>
        <br>
        <div id="dragAndDropArea" class="drag_and_drop_area">
            <input type="hidden" id="photoCounter" name="photoCounter" value="0">
            <h3>Drag&Drop</h3>
            <h3>OR</h3>
            <br>
            <input type="file" id="buttonFiles" name="buttonFiles" hidden multiple>
            <label for="buttonFiles" name="upload_label" class="upload_label">Upload Files</label>
        </div>
        <span class="data_upload_status" id="dataStatus">No Files Uploaded Yet</span>
        <br>
        <button type="button" id="submitButton" class="submit-button" disabled>Submit</button>
    </form>

</body>

</html>