<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/uploadScripts/dataUploader.js"></script>
    <script src="/javascripts/urlMapping.js"></script>
    <script src="/javascripts/tags.js"></script>
    <script src="/javascripts/uploadScripts/dragAndDrop.js"></script>
    <link rel="stylesheet" href="/css/dragAndDrop.css">

</head>
<header>


    <div class="buttonDiv">
        <button type="button" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" value="photos" onclick="changeMapping(value)">All photos</button>
    </div>
</header>

<body>
    <h1>New gallery</h1>
    <form id="galleryForm" method="POST">
        <label for="title">Gallery title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <br>
        <label>Tags:</label>
        <div id="tags" value="1">
            <input type="hidden" id="tagsCounter" name="tagsCounter" value="1">
            <input type="hidden" id="tagsValue" name="tagsValue" value="">
            <script>generateTagInput()</script>
        </div>
        <button type="button" onclick="generateTagInput()" id="tagButton">Add tag</button>
        <br>
        <textarea rows="10" cols="100" name="label">
            </textarea>
        <br>
        <div id="dragAndDropArea" class="drag_and_drop_area">
            <input type="hidden" id="photoCounter" name="photoCounter" value="0">
            <h3>Drag&Drop</h3>
            <h3>OR</h3>
            <br>
            <input type="file" id="buttonFiles" name="buttonFiles" hidden multiple>
            <label for="buttonFiles" name="upload_label" class="upload_label">Upload Files</label>
        </div>
        <span class="data_upload_status" id="dataStatus">No Files Uploaded Yet</span>
        <br>
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

</body>

</html>