<!DOCTYPE html>
<html>

<head>
    <script src="/eforce-gallery/javascripts/urlMapping.js"></script>
    <script src="/eforce-gallery/javascripts/photosUpload/uploadHandler.js"></script>
    <script src="/eforce-gallery/javascripts/photosUpload/uploadRequests.js"></script>
    <link rel="stylesheet" href="/eforce-gallery/css/navButtons.css">
    <link rel="stylesheet" href="/eforce-gallery/css/photos/upload.css">


</head>
<header>
    <div class="buttonDiv" id="buttonDiv">
        <button type="button" class="navButton" value="dashboard" onclick="changeMapping(value)">Dashboard</button>
        <button type="button" class="navButton" value="newGallery" onclick="changeMapping(value)">Add gallery</button>
        <button type="button" class="navButton-selected" value="uploadPhotos" onclick="changeMapping(value)">Upload photos</button>
        <button type="button" class="navButton" value="photos" onclick="changeMapping(value)">All photos</button>
        <button type="button" class="navButton" value="galleryManager" onclick="changeMapping(value)">Gallery manager</button>
    </div>
</header>

<body>
    <div class="upload-photos-root">
        <h1>Upload photos to server</h1>

        <div id="dragAndDropArea" class="drag_and_drop_area">
            <input type="hidden" id="photoCounter" name="photoCounter" value="0">
            <h3>Drag&Drop</h3>
            <h3>OR</h3>
            <br>
            <input type="file" id="buttonFiles" name="buttonFiles" hidden multiple>
            <label for="buttonFiles" name="upload_label" class="upload_label">Upload Files</label>
        </div>
        <span class="data_upload_status" id="dataStatus">No Files Uploaded Yet</span>
    </div>
    

</body>

</html>