
div.galleryDiv {
    width: 23%;
    margin: 2%;
    display: table-cell;
    text-align: center;
}
div.searchDiv{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 50px;
}
div.imageDiv{
    width: 100%;
    height: 290px;
    max-height: 290px;
    display: inline-block;
    text-align: center;
}

div.tagLine{
    width: 100%;
    height: 30px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
div.tagLineLast{
    width: 100%;
    height: 30px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 15px;
}

button.tag{
    width: 130px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;

}

img{
    max-width: 90%;
    max-height: 280px;
}

div.statsDiv{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
div.lineDiv {
    display: table-row;
    height: auto;
    text-align: center;
    width: 100%;
}

div.galleryDiv:hover{
    transition-duration: 0.1s;
    box-shadow:  0 0 20px;
}

table.statsTable{
    width:auto;
    border-collapse: collapse;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
th, tr{
    border-bottom: 1px solid black;
}
button.tag{
    background-color:#DCDCDC;
    border:0;
    border-radius: 3px;
}

button.tag:hover{
    transition-duration: 0.02s;
    box-shadow:  0 0 5px;
    cursor: pointer;
}
