div.buttonDiv{
    background-color: red;
    position: absolute;
    height:50px;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    line-height:50px;
    display:flex;
    justify-content:center;
}
button.navButton{
    height:50px;
    width:20%;
    margin:0px;
    background-color: red;
    border: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

button.navButton:hover{
    transition-duration: 0.4s;
    background-color: #FFFFFF;
    color: red;
    border: 1px solid red;
}
